*{
    box-sizing: border-box;
}
footer{
    background-color: rgb(201, 198, 198);
}
.footer{
    margin: auto;
    max-width: 1280px;
    text-align: center;
    background-color: rgb(201, 198, 198);
}
.footer-main{
    display: block;
    position: relative;
    box-sizing: border-box;
}
.contact-region{
    display: flex;
    width: 100%;
    margin: 0;
    list-style: none;
    text-align: left;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.footer_info{
    width: calc(100%/5);
    text-align: left;
    list-style: none;
}
h6{
    font-size: 20px;
    padding-left: 10px;
    margin: auto;
}
ul, li{
    list-style: none;
    text-decoration: none;
}
.pagetop{
    position: fixed; /* 固定定位 */
    display: block;  /* 塊級元素 */
    right: 20px;
    bottom: 20px;
    /* top right bottom left */
    width: 50px;
    height: 50px;
    background-color: black;
    text-align: center;
    line-height: 50px;  /* 行高150% 180% */
    text-decoration: none;
    color: white;
    border-radius: 50%;
}
.social-icon{
    text-align: left;
    margin-bottom: 20px;
}
.social-icon a{
    /* color: gray; */
    font-size: 32px;
    margin-right: 10px;
}
.icon-facebook{
    color: #4267B2;
}
.icon-instergram{
    color: #E1306C;
}
.icon-youtube{
    color: #FF0000;
}
.icon-line{
    color: #06c755;
}